@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  transition: background-color 0.3s, color 0.3s;
}
.App{
  background: #FAFAFA;
  min-height: 100vh;
}
.light-mode {
  background-color: #FAFAFA;
  color: #000;
}

.dark-mode {
  background-color: #151515;
  color: #fff;
}
